*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --colornegro: black;
  --cajaflexible: flex;
  --colorfondo: rgb(134, 37, 37);
}
@keyframes logogiro {
  to {
    transform: rotate(0deg);
  }
  from{
    transform: rotate(360deg);

  }
}

.formato-header {
  display: var(--cajaflexible);
  align-items: center; 
  background-color: var(--colorfondo);
  flex-wrap: wrap;
    img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    display: flex;
    animation-name: logogiro;
    animation-duration: 10s
    } 
    div {
    display: var(--cajaflexible);
    gap: 50px;
    } 
} 

.menu-navegable {
  display: var(--cajaflexible); 
  gap: 180px;
  justify-content: space-around;
  /* list-style: none; */
  align-items: center;
  margin-left: 60px;
  flex-wrap: wrap;
  li { 
  list-style: none;
  color: var(--colornegro); 
  } 
  a { 
  text-decoration: none; 
  color: var(--colornegro);
    &:hover {color: white;}
  }     
}  
.menu-navegable-a-ocultar{
  display: var(--cajaflexible); 
  justify-content: space-around;
  /* list-style: none; */
  align-items: center;
  margin-left: 60px;
  flex-wrap: wrap;
  li {  
  list-style: none;
  color: var(--colornegro); 
  margin-left: 150px;
  } 
  a { 
  text-decoration: none; 
  color: var(--colornegro);
    &:hover {color: white;}
  }     
}

.propuesta-general main{
  display: var(--cajaflexible);
}
.propuesta-general {
  h1{
  text-align: center;
  margin: 30px 30px;
  }
  h3{
  text-align: left;
  }
}
.botones-confirmacion{
  margin: 100px 100px;
  justify-self: center;
  button{
    margin: 0px 100px;
    width: 150px;
    height: 80px;
    border-radius: 30px;
    cursor: pointer;
  }
}
.formato-formulario {
  margin: 30px;
  li{
    display: var(--cajaflexible);
    list-style: none;
    margin: 10px;
  }
  label{
    margin: 0px 30px;
  }
}
@media (max-width: 500px) {
.menu-navegable-a-ocultar{
      display: none}
}
.muestra-menu {
  display: grid;
  grid-template-areas: 
  "hamburguesa nuggets papasfritas";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.opcion {
  img {
  width: 200px;
  height: 200px;
  }
}
#uno {
  grid-area: hamburguesa;
}
#dos {
  grid-area: nuggets;
}
#tres {
  grid-area: papasfritas;
}
.desplazabotones {
  margin-left: 50px;
}
